.search-container{
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 2px solid var(--teal);
    border-radius: 30px;
    padding: 5px 15px;
    width: 100%;
    max-width: 500px;
    box-shadow:  0 8px 20px rgba(32, 51, 70, 0.08);
    transition: all 0.3s ease;
}
#SearchBar {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: var(--navy);
    background: transparent;
    outline: none;
}
#SearchBar:focus-within{
    box-shadow: 0 8px 25px rgba(97, 188, 174, 0.4);
    transform: scale(1.02);
}
.search-icon {
    background: var(--teal);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
}
.search-icon img {
    width: 33px;
    height: 34px;
    filter: brightness(100);
    margin: auto;
    
}
.slide-in {
    opacity: 0;
    transform: translateY(40px);
     transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    #SearchBar {
        width: 90%;
    }
    .categories-box {
        flex-direction: column;
        align-items: center;
    }
    .nav-contain {
        flex-direction: column;
        gap: 10px;
    }
    .category{
        width: 100%;
        max-width: 250px;
    }
}