:root {
    --teal: #61BCAE;
    --night-ocean: #415c77;
    --mint-bright: #ADD8D1;
    --mint-pale: #E0F0EE;
    --teal-med: #8ACCC2;
    --white: #ffffff;
    --navy: #001d4f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}
body {
    background-color: var(--mint-pale);
    color: var(--night-ocean);
    overflow-x: hidden;
}

.NavBar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    transition: all 0.3s ease;
}

.nav-contain {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#navbar.scrolled {
    padding: 5px 0;
    box-shadow: 0 4px 20px rgba(32, 51, 70, 0.1);
}


.nav-item {
    text-decoration: none;
    color: var(--night-ocean);
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 8px;
    transition: all 0.3 ease;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.nav-item:hover, .nav-item.active{
    background-color: var(--mint-bright);
    color: var(--night-ocean);
}
/* Main Appointment Box */
.appointment-page {
    width: 80%;
    min-height: 650px;
    margin: 60px auto;
    background: white;
    border-radius: 25px;
    padding: 0 0 30px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Green Appointment Header */
.appointment-header {
    background: rgb(10, 125, 131);
    padding: 25px;
    text-align: center;
    color: white;
}

.appointment-header h1 {
    margin: 0;
    font-size: 28px;
}

/* Appointment Controls */
.appointment-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 30px 60px 10px 60px;
}

.select-area {
    display: flex;
    flex-direction: column;
}

.select-area label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.select-area select {
    width: 225px;
    padding: 12px 15px;

    background: rgb(10, 125, 131);
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.select-area select option {
    background: white;
    color: #333;
}

.appointment-link {
    margin-top: 35px;
    color: rgb(10, 131, 69);
    font-weight: bold;
    text-decoration: none;
}

.appointment-link:hover {
    text-decoration: underline;
}

.no-appointment {
    text-align: center;
    color: #999;
    font-weight: bold;
    margin-top: 10px;
}

.appointment-page hr {
    width: 92%;
    border: none;
    border-top: 2px solid #ddd;
    margin: 25px auto;
}


.appointment-content {
    min-height: 420px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--night-ocean);
    color: var(--mint-bright);
    margin-top: auto;
}

.footer img {
    width: 150px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.slide-in {
    opacity: 0;
    transform: translateY(40px);
     transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}