        body {
            font-family: Arial, sans-serif;
        }
        #logo{
            display: block;
            width: 300px;
            margin: auto;
            
        }
        #welcome{
            color: rgb(122, 122, 122);
        }
        #box{
            width: 30%;
            box-shadow:  0 5px 15px rgba(0,0,0,0.15);
            background-color: rgb(255, 255, 255);
            margin: auto;
            border-radius: 12px;
            padding: 20px;
            margin-top: 100px;
            font-size: 20px;
            line-height: 0.5;
        }
        #box form {
            margin-top: 60px;
        }
        #box form p {
            text-align: center;
            font-size: 16px;
            margin-right: 100px;
        }

        .formGrp {
            line-height: 1px;
        }
        #box form div {
            margin-top: 30px;
        }
        .formGrp input {
            display: block;
            background-color: rgba(209, 207, 207, 0.327);
            border: 0px;
            padding: 10px;
            border-radius: 10px;
            width: 96%;
            margin: auto;
        }
        #box #forgor {
            display: block;
            font-weight: bold;
            font-size: 13px;
            text-align: right;
            text-decoration: none;
            margin-top: 10px;
            color: rgb(62, 213, 135);
        }
        #box button {
            display: block;
            background-color: rgba(209, 207, 207, 0.327);
            border: 0px;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            margin: auto;
            margin-top: 25px;
            background-color: rgb(62, 213, 135);
            font-weight: bold;
            color: aliceblue;
        }
        #box #noAcc{
            margin-top: 15px;
            color: rgb(122, 122, 122);
        }
        #box #noAcc p{
            font-size: 11px;
            text-align: center;
            color: rgb(122, 122, 122);
            margin: auto;
        }
        #box #noAcc p a{
            font-weight: bold;
            text-decoration: none;
            color: rgb(62, 213, 135);
        }